tox==4.8.0
flake8==5.0.4 # Lowered for python 3.7
mypy==1.8.0
types-requests==2.31.0.20240125
pytest==7.4.4 # Lowered for python 3.7
pytest-mock==3.12.0 # Lowered for python 3.7
pytest-xdist==3.5.0
pytest-cov==4.1.0
pre-commit==3.5.0 # Lowered for python 3.7
pants==1.0.1
types-beautifulsoup4==4.12.0.20240106
build==1.0.3